html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: normal;
  background-color: rgb(250, 243, 215);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.accordeon__inner {
  margin-top: 65px;
  text-align: center;
  background-color: #fff;
  box-shadow: 15px 15px 15px 0px rgba(255, 255, 255, 0.777);
}

.accordeon__title {
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
}

.accordeon__text::after {
  content: "";
  background-color: red;
  width: 6px;
  height: 300px;
  transform: rotate(89.90deg)
  translateY(300px)
  translateX(-185px);
}


.accordeon__title::after {
  content: "+";
  border: 1px solid black;
  padding: 0 5px;
}

.minus::after {
  content: "-";
  border: 1px solid black;
  padding: 0 5px;
}


.accordeon__text {
  display: none;
  color: #333;
  padding: 0 255px;
  font-size: 20px;
}


.text {
  display: flex;
}


@media (max-width: 1400px) {
   .container {
    max-width: 1320px;
  }

  .accordeon__text::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 300px;
    transform: rotate(89.90deg)
    translateY(400px)
    translateX(-185px);
  }
  
}

@media (max-width: 1200px) {
   .container {
    max-width: 1140px;
  }

  .accordeon__text::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 300px;
    transform: rotate(89.90deg)
    translateY(300px)
    translateX(-185px);
  }
}


@media (max-width: 992px) {
   .container {
    max-width: 960px;
  }

  .accordeon__text::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 300px;
    transform: rotate(89.90deg)
    translateY(200px)
    translateX(-185px);
  }
}


@media (max-width: 768px) {
   .container {
    max-width: 720px;
  }

  .accordeon__text::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 300px;
    transform: rotate(89.90deg)
    translateY(260px)
    translateX(-185px);
  }


  .accordeon__title {
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
  }

  .accordeon__text {
    color: #333;
    padding: 0 80px;
    font-size: 20px;
  }
}


@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .accordeon__text::after {
    content: "";
    background-color: red;
    width: 6px;
    height: 300px;
    transform: rotate(89.90deg)
    translateY(180px)
    translateX(-185px);
  }
}